html, body {
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

table {
    border-collapse: collapse;
    border-bottom: 1px solid gray;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    width: 72%;
}

th {
    border-bottom: 1px solid gray;
    background: none repeat scroll 0 0 #4CAF50;
    padding: 10px;
    color: #FFFFFF;
}

tr {
    border-top: 1px solid gray;
    text-align: center;
}

h2 {
    width: 100%;
    margin: auto;
    background: #4CAF50;
    color: #FFFFFF;
    padding: 3px 6px;
}

tr:nth-child(even) {
    background: #FFFFFF
}

tr:nth-child(odd) {
    background: #BBBBBB
}

#wrapper {
    width: 72%;
    margin-top: 0px;
}

#header {
    width: 70%;
    background: #4CAF50;
    margin-top: 0px;
    padding: 15px 0px 15px 15px;
}

#header h2 {
    width: 100%;
    margin: auto;
    color: #4CAF50;
}

#container1 {
    width: 100%;
    margin-left: 26%;
}

#container1 h3 {
    color: #000;
}

#container1 #content {
    margin-top: 20px;
}

#container {
    width: 53%;
    margin-left: 26%;
}

#container h3 {
    color: #000;
}

#container #content {
    margin-top: 20px;
}

#container2 {
    width: auto;
    margin-bottom: auto;
}

.add-button {
    border: 1px solid #666;
    border-radius: 5px;
    padding: 4px;
    font-size: 12px;
    font-weight: bold;
    width: 120px;
    padding: 5px 10px;

    margin-bottom: 15px;
    background: #cccccc;
}

.abc {
    color: #FFFFFF;
    background: #4CAF50;
}
